<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- link de los inconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <!-- cabecera de la imagen -->
    <header class="seccion-principal">
        
        <div class="main-header">
            <div class="img-searchbar-cuotas">
               <img class="imagenprincipal" src="/img/images/logo-mercado-liebre.svg" alt="">
                <div class="barrabuscar">
                    <input class="search-button" type="text" placeholder="Buscar productos, marcas">
                    <div class="search-icon">
                        <button> <i class="fas fa-search fa-lg"></i></button>
                    </div>
                </div>
                <p class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

            <nav class="enlaces-navbar">
                <ul class="listaEnlaces-a">

                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>

                </ul>
                <ul class="listaEnlaces-b">
                   <div><li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li></div> 
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                 <i class="fas fa-bars"></i></div>
        </div>

    </header>
    <div>
     <img class="banner" src="/img/images/img-home-banner.jpg" alt="">
    </div>

    <!-- <<<<<<<<<<<<<< Main >>>>>>>>>>>>>>>>> -->

    <main class="main-container">
        <section class="article-container">
            <h1 class="titulares">Basado en tu última visita</h1>

            <article class="main-article">
                <article class="product-container">
                    <img src="img/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <h2 class="prices">$6.770</h2>
                            <span class="discount">40% off</span>
                        </div>
                        <p class="descriptions">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="product-container">
                    <img src="img/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <h2 class="prices">$230.000</h2>
                            <span class="discount">20% off</span>
                        </div>
                        <p class="descriptions">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="product-container">
                    <img src="img/images/img-Samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <h2 class="prices">$70.500</h2>
                            <span class="discount">10% off</span>
                        </div>
                        <p class="descriptions">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="product-container">
                    <img src="img/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <h2 class="prices">$23.200</h2>
                            <span class="discount">5% off</span>
                        </div>
                        <p class="descriptions">SmartTv Samsung 43</p>
                    </div>
                </article>

            </article>
            <h1 class="titulares">Ofertas</h1>
            <article class="main-article">


                <article class="product-container">
                    <img src="img/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <h2 class="prices">$6.770</h2>
                            <span class="discount">40% off</span>
                        </div>
                        <p class="descriptions">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="product-container">
                    <img src="img/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <h2 class="prices">$230.000</h2>
                            <span class="discount">20% off</span>
                        </div>
                        <p class="descriptions">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="product-container">
                    <img src="img/images/img-Samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <h2 class="prices">$70.500</h2>
                            <span class="discount">10% off</span>
                        </div>
                        <p class="descriptions">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="product-container">
                    <img src="img/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <h2 class="prices">$23.200</h2>
                            <span class="discount">5% off</span>
                        </div>
                        <p class="descriptions">SmartTv Samsung 43</p>
                    </div>
                </article>

            </article>


        </section>

    </main> 

    <!-- <<<<<<<< footer >>>>>>>>>>>> -->

    <footer class="main-footer">
        <article class="footer-container">
            <div class="each-container">

                <div class="information-text">
                    <div class="icons-footer">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es
                        seguro!
                    </p>
                </div>

                <div class="information-text">
                    <div class="icons-footer">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                        beneficio de
                        Mercado Puntos.</p>
                </div>

                <div class="information-text">
                    <div class="icons-footer">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                        siempre
                        protegid@.
                    </p>
                </div>
            </div>
        </article>
        <div class="author">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
</body>

</html>