<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- link de los inconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <!-- cabecera de la imagen -->
        <img class="imagenprincipal" src="/img/images/logo-mercado-liebre.svg" alt="">
        <input class="barrabuscar" type="text" placeholder="Buscar productos, marcas">
        <div class="search">
            <button><i class="fas fa-search fa-lg"></i></button>
        </div>
        <!--aca va la barra de busqueda-->
        <p class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a style="text-decoration:none" href="">Ofertas</a></li>
                <li><a style="text-decoration:none" href="">Tiendas Oficiales</a></li>
                <li><a style="text-decoration:none" href="">Vender</a></li>
                <li><a style="text-decoration:none" href="">Ayuda</a></li>

            </ul>
            <ul>
                <li><a style="text-decoration:none" href="">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a style="text-decoration:none" href="">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a style="text-decoration:none" href="">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu"> <i class="fas fa-bars"></i>
        </div>
    </header>

    <main class="main-container">
        <section class="article-container">
            <article>
                <h1 class="titulares">Basado en tu última visita</h1>
                <article class="product-container">
                    <img src="img/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <h2 class="prices">$6.770</h2>
                        <span class="discount">40% off</span>
                        <p class="descriptions">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="product-container">
                    <img src="img/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <h2 class="prices">$230.000</h2>
                        <span class="discount">20% off</span>
                        <p class="descriptions">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="product-container">
                    <img src="img/images/img-Samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <h2 class="prices">$70.500</h2>
                        <span class="discount">10% off</span>
                        <p class="descriptions">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="product-container">
                    <img src="img/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <h2 class="prices">$23.200</h2>
                        <span class="discount">5% off</span>
                        <p class="descriptions">SmartTv Samsung 43</p>
                    </div>
                </article>

            </article>

            <article>
                <h1 class="titulares">Ofertas</h1>

                <article class="product-container">
                    <img src="img/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <h2 class="prices">$6.770</h2>
                        <span class="discount">40% off</span>
                        <p class="descriptions">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="product-container">
                    <img src="img/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <h2 class="prices">$230.000</h2>
                        <span class="discount">20% off</span>
                        <p class="descriptions">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="product-container">
                    <img src="img/images/img-Samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <h2 class="prices">$70.500</h2>
                        <span class="discount">10% off</span>
                        <p class="descriptions">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="product-container">
                    <img src="img/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="200" class="photo">
                    <div class="each-product">
                        <i class="fas fa-truck"></i>
                        <h2 class="prices">$23.200</h2>
                        <span class="discount">5% off</span>
                        <p class="descriptions">SmartTv Samsung 43</p>
                    </div>
                </article>

            </article>


        </section>

    </main>

    <footer>
        <article class="piePagina">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!
            </p>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </article>

    </footer>

</body>

</html>