<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- link de los inconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <!-- cabecera de la imagen -->
    <header class="seccion-principal">
        
        <div class="main-header">
            <div class="img-searchbar-cuotas">
               <a href="/"><img class="imagenprincipal" src="/img/images/logo-mercado-liebre.svg" alt=""></a> 
                <div class="barrabuscar">
                    <input class="search-button" type="text" placeholder="Buscar productos, marcas">
                    <div class="search-icon">
                        <button> <i class="fas fa-search fa-lg"></i></button>
                    </div>
                </div>
                <p class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

            <nav class="enlaces-navbar">
                <ul class="listaEnlaces-a">

                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>

                </ul>
                <ul class="listaEnlaces-b">
                   <div><li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li></div> 
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                 <i class="fas fa-bars"></i></div>
        </div>

    </header>
    <div>
     <img class="banner" src="/img/images/img-home-banner.jpg" alt="">
    </div>


    <!-- <<<<<<<<<<<<<< Main >>>>>>>>>>>>>>>>> -->

    <main>
        <div>
            <form class="login-container" action="/login" method="get">
                <div class="login-password">
                    <br>
                    <input type="text" name="nombre" placeholder="Nombre de Usuario" class="username" required>
                    <br>
                    <input type="password" name="password" placeholder="Elegí tu contraseña" class="password" required>
                    <br>
                    <button type="submit" class="submit"><a href="/">Enviar</a></button>
                </div>
            </form>
        </div>
    </main>

     <!-- <<<<<<<< footer >>>>>>>>>>>> -->

     <footer class="main-footer">
        <article class="footer-container">
            <div class="each-container">

                <div class="information-text">
                    <div class="icons-footer">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es
                        seguro!
                    </p>
                </div>

                <div class="information-text">
                    <div class="icons-footer">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                        beneficio de
                        Mercado Puntos.</p>
                </div>

                <div class="information-text">
                    <div class="icons-footer">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                        siempre
                        protegid@.
                    </p>
                </div>
            </div>
        </article>
        <div class="author">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
</body>

</html>