<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- link de los inconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header class="seccion-principal">
        <!-- cabecera de la imagen -->
        <div class="img-searchbar-cuotas">
            <img class="imagenprincipal" src="/img/images/logo-mercado-liebre.svg" alt="">
            <div class="barrabuscar">
                <input type="text" placeholder="Buscar productos, marcas">
                <div class="search-icon">
                    <button> <i class="fas fa-search fa-lg"></i></button>
                </div>
            </div>
            <p class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="enlaces-navbar">
            <ul class="listaEnlaces">

                <li><a style="text-decoration:none" href="">Ofertas</a></li>
                <li><a style="text-decoration:none" href="">Tiendas Oficiales</a></li>
                <li><a style="text-decoration:none" href="">Vender</a></li>
                <li><a style="text-decoration:none" href="">Ayuda</a></li>

            </ul>
            <ul class="listaEnlaces">
                <li><a style="text-decoration:none" href="">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a style="text-decoration:none" href="">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a style="text-decoration:none" href="">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu"> <i class="fas fa-bars"></i>
        </div>
        <img class="banner" src="/img/images/img-home-banner.jpg" alt="">
    </header>
    <main>
        <div >
            <form class="login-container" action="" method="get">
                <div class="login-password">
                <br>
                <input type="text" name="nombre" placeholder="Nombre de Usuario" class="username" required>
                <br>
                <input type="password" name="password" placeholder="Elegí tu contraseña" class="password" required> 
                <br>
                <button type="submit" class="submit">Enviar</button>
            </div>
            </form>
        </div>
    </main>

    <footer>
        <article class="piePagina">
            <div class="footer-container">
            <i class="fas fa-credit-card"></i>
            
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!
            </p>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
        </div>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </article>

    </footer>

</body>

</html>