<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- link de los inconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header class="seccion-principal">
        <!-- cabecera de la imagen -->
        <div class="img-searchbar-cuotas">
            <img class="imagenprincipal" src="/img/images/logo-mercado-liebre.svg" alt="">
            <div class="barrabuscar">
                <input type="text" placeholder="Buscar productos, marcas">
                <div class="search-icon">
                    <button> <i class="fas fa-search fa-lg"></i></button>
                </div>
            </div>
            <p class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="enlaces-navbar">
            <ul class="listaEnlaces">

                <li><a style="text-decoration:none" href="#">Ofertas</a></li>
                <li><a style="text-decoration:none" href="#">Tiendas Oficiales</a></li>
                <li><a style="text-decoration:none" href="#">Vender</a></li>
                <li><a style="text-decoration:none" href="#">Ayuda</a></li>

            </ul>
            <ul class="listaEnlaces">
                <li><a style="text-decoration:none" href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a>
                </li>
                <li><a style="text-decoration:none" href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a style="text-decoration:none" href="#">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu"> <i class="fas fa-bars"></i></div>
    </header>
    <div>
        <img class="banner" src="/img/images/img-home-banner.jpg" alt="">
    </div>

    <!-- <<<<<<<<<<<<<< Main >>>>>>>>>>>>>>>>> -->

    <main>
        <form class="register-container" action="/register" method="get">
            <div class="form-register">

                <input class="border-field" type="text" name="NombreApellido" placeholder="Nombre y apellido" required>
                <br>
                <input class="border-field" type="text" name="nombreusuario" placeholder="nombre de usuario" required>
                <br>
                <input class="border-field" type="email" name="email" placeholder="E-mail" required>
                <br>
                <h4>Fecha de nacimiento</h4>
                <br>
                <input class="border-field" type="date" name="fecha" id="birthdate" required>
                <br>
                <input class="border-field" type="text" name="domicilio" placeholder="Domicilio">
                <br>
                <h4>Perfil de usuario</h4>
                <br>
                <div class="userprofile">
                    <div class="input-profile">
                        <input class="radiobutton" type="radio" name="compravende" value="comprador" id="comprador1"
                            checked>
                        <label for="comprador1">Comprador</label>
                    </div>
                    <div class="input-profile">
                        <input class="radiobutton" type="radio" name="compravende" value="vendedor" id="vendedor1">
                        <label for="vendedor1">Vendedor</label>
                    </div>
                </div>
                <br>
                <h4>intereses</h4>
                <br>
                <div class="interest-form">
                    <div class="input-interest">
                        <input type="checkbox" name="intereses" value="Electro" id="electro">
                        <label for="electro">Electro</label>
                    </div>
                    <br>
                    <div class="input-interest">
                        <input type="checkbox" name="intereses" value="Moda" id="moda" checked>
                        <label for="moda">Moda</label>
                    </div>
                    <br>
                    <div class="input-interest">
                        <input type="checkbox" name="intereses" value="Hogar" id="hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <br>
                    <div class="input-interest">
                        <input type="checkbox" name="intereses" value="Jugueteria">
                        <label for="jugueteria">Jugueteria</label>
                    </div>
                    <br>
                    <div class="input-interest">
                        <input type="checkbox" name="intereses" value="Vida sana">
                        <label for="vida sana">Vida sana</label>
                    </div>
                </div>
                <br>
                <h4>Foto de usuario</h4>
                <br>
                <input class="userphoto" type="file" name="userphoto" accept=".jpg">
                <br>
                <input class="border-field" type="password" name="userpassword" placeholder="Contraseña" required>
                <br>
                <input class="border-field" type="password" name="confirmpassword" placeholder="Confirme la contraseña"
                    required>
                <br>
                <div class="button-register">
                    <button type="submit"><a href="/">Enviar</a></button>
                    <button type="reset">Borrar</button>
                </div>
            </div>

        </form>


    </main>
<!-- <<<<<<<< footer >>>>>>>>>>>> -->

<footer class="main-footer">
    <article class="footer-container">
        <div class="each-container">
           
            <div class="information-text">
                <div class="icons-footer">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!
                </p>
            </div>
           
            <div class="information-text">
                <div class="icons-footer">
                    <i class="fas fa-gift"></i>
                </div>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </div>
            
            <div class="information-text">
                <div class="icons-footer">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                    siempre
                    protegid@.
                </p>
            </div>
        </div>
    </article>
    <div class="author">
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </div>
</footer>
</body>

</html>

