@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body header {
  font-family: Roboto;
  font-size: 12px;
  background-color: #eac926;
  color: black;
  /* padding-bottom: 20px; */
}
/* imagenes */
.imagenprincipal{
  width: 100%;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

/* --------- */

body {
  font-family: Roboto;
}

.titulares {
  font-size: 24px;
  text-align: left;
  color: #666;
}
.discount {
  color: #39b54a;
  font-size: 16px;
  /* desafio flex */
  width: 70%;
}
.prices {
  font-size: 18px;
  /* desafio flex */
  width: 30%;
}
.descriptions {
  font-size: 16px;
}

.barrabuscar {
  margin-left: 5%;
}
.search button {
  margin-top: 1px;
  padding: 0px;
  padding-top: 2px;
  margin-left: 5%;
}

.cuotas {
  text-align: center;
}

.listaEnlaces {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.listaEnlaces a{
text-decoration: none;
color: black;
}

.burger-menu {
  color: white;
  background-color: #03264c;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* ejercicio diseño adaptativo */
/* Debemos centrar la sección main */
.main-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #ebebeb;
}

/* este se aplico a la sección */
.article-container {
  width: 90%;
  margin: auto;
  padding: 20px;
}
/* Entre cada artículo hay una separación de 10 píxeles */
.product-container {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px;
  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Nos piden que manejemos el logo del envío, el precio, el porcentaje de descuento y 
la descripción del artículo como elementos de una caja dentro de la caja general del artículo. */
.each-product {
  width: auto;
  background-color: white;
  border-top: solid 1px #ebebeb;
  text-align: left;
}
.photo {
  width: 100%;
}

/* diseño del truck */
section i {
  display: block;
  font-size: 16px;
  padding: 4px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  right: 30px;
  top: -15px;
  color: #39b54a;
}
/* background-color: white;
  color: #39b54a;
  border-radius: 50%;
  height: auto;
  border: solid 1px green;
  padding: 5px;
  width: 50px;
  height: 50px; */

/* desafio de flex box ---------------------*/

/* .flex-prices-discount {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
  } */

/* footer*/

.piePagina {
  text-align: center;
  background-color: white;
}

footer i {
  width: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1259c3;
  /* como hacer que los textos queden pegados y no tan separados? */
}
/* le da sombra a los articulos cuando se expande */
@media (min-width: 361px) {
  .product-container {
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    background-color: white;
  }
}
/* desaparece la descripcion, los enlaces y le da al burger margin top */
@media (max-width: 360px) {
  .descriptions {
    font-size: 16px;
    display: none;
  }
  .enlaces {
    display: none;
  }
  .burger-menu {
    margin-top: 20px;
  }
}
/* desaparece burger para tablet y desktop */
@media (min-width: 361px) {
  .burger-menu {
    display: none;
  }
}
