@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.body {
    font-family: 'Roboto';

}

/* <<< Header >>> */

.seccion-principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: 'Roboto';
    background-color: #EAC926;
    font-size: 12px;
}

.main-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-top: 10px;
}

.img-searchbar-cuotas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.imagenprincipal {
    width: 200px;
}

.barrabuscar {
    display: flex;
    align-items: center;
    width: 33.33%;
}

.barrabuscar input {
    width: 100%;
}

.search.button {
    width: 100%;
}

.cuotas {
    margin-top: 10px;
}


.enlaces-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.enlaces-navbar a {
    text-decoration: none;
    color: black;

}

.enlaces-navbar li {
    list-style-type: none;
}

.listaEnlaces-a,
.listaEnlaces-b {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.burger-menu {
    color: white;
    background-color: #1259c3;
    margin: auto;
    margin-top: 8px;
    border-radius: 5px;
    font-size: 20px;
    width: 40px;
    padding: 10px;
    /* flex */
    display: flex;
    justify-content: center;

}

.banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

/* <<< Main >>> */

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ebebeb;

}

.article-container {
    width: 90%;
    margin: 10px 0px;
    font-family: 'Roboto';
    flex-direction: column;
    display: flex;
    align-items: flex-start;

}

.main-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.product-container {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;

}

.product-container img {
    width: 100%;
}

.each-product {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    width: 100%;
    background-color: #fff;
}

.titulares {
    font-size: 24px;
}

.prices {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
    color: #39b54a;
}

.discount,
.descriptions {
    font-size: 16px;

}

.price-discount {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.descriptions {
    color: grey;
    visibility: hidden;
}

.each-product:hover .descriptions {
    visibility: visible
}


.product-container i {
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}


/*>>>>>>>>>>>>>>>> formularios <<<<<<<<<<<<<<<<<<*/

/* login */
.login-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
    background-color: #ebebeb;
    width: 100%;
    font-family: 'Roboto';
}

.login-password {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-bottom: 20px;
}

.login-password a {
    text-decoration: none;
    color: #fff;
}

.username,
.password {
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 8px;
}

.submit {
    border: none;
    padding: 10px;
    background-color: #1259c3;
    color: #fff;
    border-radius: 8px;
    margin: 10px;
    font-size: 20px;
    transition: background-color 0.08s, color 0.05s;
}

.submit:hover {
    background-color: #0022AA;
}

.button-register button:hover {
    background-color: #0022AA;
    transition: background-color 0.08s, color 0.05s;
}

/* register */

.home-link {
    width: 30%;
}

.home-link .imagenprincipal {
    width: 100%;
}

.register-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow: auto;
    font-family: 'Roboto';
    font-size: 15px;
}

.form-register {
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0px;
}

.border-field {
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
}

.button-register {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-register a {
    text-decoration: none;
    color: #fff;
}

.button-register button {
    background-color: #1259c3;
    border-radius: 8px;
    border: none;
    padding: 10px;
    color: #fff;
    width: 49%;
}

.userprofile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.input-profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.interest-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 35px;
}

.input-interest {
    display: flex;
    gap: 10px;
    align-items: center;
}



/* footer */

.main-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-top: solid 1px #ebebeb;
    font-family: 'Roboto';
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    text-align: center;
    width: 100%;

}

.each-container {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.icons-footer i {
    width: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1259c3;
    width: 100%;

}

.icons-footer i:hover {
    color: #154360;
    transition: background-color 0.08s, color 0.05s;
}


.author {
    margin: 10px;
    text-align: center;
}






/* <<< medias >>> */

/* mobile */

@media (max-width:361px) {

    .main-header {
        margin-bottom: 10px;
    }

    .enlaces-navbar {
        display: none;
    }

    .imagenprincipal {
        width: 46%;
    }

    .barrabuscar {
        display: flex;
        align-items: center;
        width: 46%;
    }

    .cuotas {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 10px;
    }

    .descriptions {
        display: none;
    }



    .border-field {
        width: 90%;
    }

    .login-password {
        width: 90%;
    }

    .home-link {
        width: 50%;
    }
}

/* tablet */

@media (min-width: 362px) {

    .burger-menu {
        display: none;
    }

    .product-container {
        width: 48%;
    }

    .article-container {
        width: 100%;
        padding: 15px;
    }

    .main-article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product-container {
        box-shadow: 0px 0px 10px rgba(100, 100, 100);
    }

    .prices {
        font-size: 100%;
        width: 0%;
    }

    .discount {
        font-size: 100%;
        width: 44%
    }
}

@media (max-width:468px) {

    .main-header {
        padding: 0px;
    }

    .listaEnlaces-a {
        display: flex;
        flex-wrap: wrap;
        font-size: 11px;
        justify-content: space-between;
        min-width: 48%;


    }

    .listaEnlaces-b {
        display: flex;
        flex-wrap: wrap;
        font-size: 11px;
        justify-content: space-around;
        min-width: 48%;
    }


}

/* desktop */

@media (min-width: 769px) {
    .burger-menu {
        display: none;
    }

    .imagenprincipal {
        width: 210px;
    }

    .cuotas {
        margin-top: 0px;
    }

    .each-container {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .main-footer {
        justify-content: flex-start;
    }

    .product-container {
        box-shadow: 0px 0px 10px rgba(100, 100, 100);
        width: 21%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .login-password {
        width: 60%;
    }

}