@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@media (min-width: 361px) {
  .product-container {
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    background-color: white;
},

}

@media (max-width: 360px) {
  .descriptions {
    font-size: 16px;
    display: none;
  }
  .enlaces{
    display: none;
  }
}

* {
  box-sizing: border-box;
}
body header {
  font-family: Roboto;
  font-size: 12px;
  background-color: #eac926;
  color: black;
  padding-bottom: 20px;
}

body {
  font-family: Roboto;
}

.titulares {
  font-size: 24px;
  text-align: left;
  color: #666;
}
.discount {
  color: #39b54a;
  font-size: 16px;
}
.prices {
  font-size: 18px;
}
.descriptions {
  font-size: 16px;
}

.barrabuscar {
  margin-left: 5%;
}
.search button {
  margin-top: 1px;
  padding: 0px;
  padding-top: 2px;
  margin-left: 5%;
}

.cuotas {
  text-align: center;
}

.listaEnlaces {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.burger-menu {
  color: white;
  background-color: #1259c3;
  margin: auto;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  width: 45px;
  padding: 10px 0px;
}

/* ejercicio diseño adaptativo */
/* Debemos centrar la sección main */
.main-container {
  text-align: center;
  background-color: #ebebeb;
}

/* este se aplico a la sección */
.article-container {
  width: 90%;
  margin: auto;
  padding: 20px;
}
/* Entre cada artículo hay una separación de 10 píxeles */
.product-container {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
}

/* Nos piden que manejemos el logo del envío, el precio, el porcentaje de descuento y 
la descripción del artículo como elementos de una caja dentro de la caja general del artículo. */
.each-product {
  width: auto;
  background-color: white;
  border-top: solid 1px #ebebeb;
  padding: 15px;
  /* como hago que cada producto tenga la linea solida? le tengo que hacer a cada uno un div */
  /* como logro que la imagen quede integrada */
  text-align: left;
}
.photo {
  width: 100%;
}

/* diseño del truck */
section i {
  background-color: white;
  color: #39b54a;
  border-radius: 50%;
  height: auto;
  border: solid 1px green;
  padding: 8px;
  width: 50px;
  height: 50px;
}

/* footer*/

.piePagina {
  text-align: center;
  background-color: white;
}

footer i {
  width: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1259c3;
  /* como hacer que los textos queden pegados y no tan separados? */
}
