@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  font-family: "Roboto";
}

/* >>>>>>>>>>>> header <<<<<<<<<<<<<<<<< */

body header {
  font-family: "Roboto";
  font-size: 12px;
  background-color: #eac926;
  color: black;
  padding: 10px 0px;
  /* flex */

}

.imagenprincipal {
  width: 50%;
}

.img-searchbar {
  display: flex;

}
.img-searchbar-cuotas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.barrabuscar {
  width: 30%;
  display: flex;
  align-items: center;
  height: 50px;
}

.barrabuscar input {
  border: none;
  width: 100%;
  border-radius: 5%;

}

.search-icon {

  margin-left: 2%;

}

.cuotas {
  margin: 10px;
  text-align: center;
  margin-bottom: 0px;
}

.cuotas i {
  margin-right: 5px;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

/* header enlaces */
.enlaces-navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.listaEnlaces {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0px;
  margin: 10px 0px
}

.listaEnlaces a {
  text-decoration: none;
  color: black;
}

.listaEnlaces i {
  margin-left: 5px;
}

/* Menu hamburguesa */
.burger-menu {
  color: white;
  background-color: #03264c;
  margin: auto;
  border-radius: 5px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

}

/* >>>>>>>>>>>>> main <<<<<<<<<<<<<<<<*/

.titulares {
  font-size: 24px;
  text-align: left;
  color: #666;
}

.discount {
  color: #39b54a;
  font-size: 1em;
  /* desafio flex */
  margin-left: 10px;
}

.prices {
  font-size: 18px;
  /* desafio flex */
}

.descriptions {
  font-size: 16px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #ebebeb;
}

.article-container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

.product-container {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px;
  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #fff;
}

/* Nos piden que manejemos el logo del envío, el precio, el porcentaje de descuento y 
la descripción del artículo como elementos de una caja dentro de la caja general del artículo. */
.each-product {
  width: auto;
  background-color: white;
  border-top: solid 1px #ebebeb;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.photo {
  width: 100%;
}

/* truck */
.each-product i {
  display: flex;
  align-self: flex-end;
  font-size: 16px;
  padding: 4px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  right: 30px;
  top: -15px;
  color: #39b54a;
}

.price-discount {
  display: flex;
  flex-wrap: wrap;
}

/*>>>>>>>>>>>>>>>> formularios <<<<<<<<<<<<<<<<<<*/

/* login */
.login-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
  background-color: #ebebeb;
  width: 100%;
}

.login-password {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-bottom: 20px;
}
.login-password a{
  text-decoration: none;
  color: #fff;
}

.username,
.password {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 8px;
}

.submit {
  border: none;
  padding: 10px;
  background-color: #1259c3;
  color: #fff;
  border-radius: 8px;
  margin: 10px;
  font-size: 20px;
  transition: background-color 0.08s, color 0.05s;
}

.submit:hover{
  background-color: #0022AA;
}

.button-register button:hover{
background-color: #0022AA;
transition: background-color 0.08s, color 0.05s;
}
/* register */

.register-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  overflow: auto;
}

.form-register {
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0px;
}

.border-field {
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  background-color: #fff;
}

.button-register {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.button-register a{
  text-decoration: none;
  color: #fff;
}

.button-register button {
  background-color: #1259c3;
  border-radius: 8px;
  border: none;
  padding: 10px;
  color: #fff;
  width: 49%;
}

.userprofile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.interest-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 35px;
}

.input-interest {
  display: flex;
  gap: 10px;
  align-items: center;
}


/* >>>>>>>>>>>> footer <<<<<<<<<<<<<<<<*/

.main-footer{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  border-top: solid 1px #ebebeb;
}

.footer-container{
display: flex;
padding: 10px;
text-align:center;
}

.each-container{
margin: 10px 0px;
}

footer i {
  width: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1259c3;
  /* como hacer que los textos queden pegados y no tan separados? */
}

.author{
  margin:10px;
}



/* mobile only */
/* desaparece la descripcion, los enlaces y le da al burger margin top */
@media (max-width: 361px) {
  .descriptions {
    font-size: 16px;
    display: none;
  }

  .enlaces-navbar {
    display: none;
  }

  .burger-menu {
    margin-top: 20px;
  }
.border-field{
  width: 90%;
}
.login-password{
  width: 90%;
}
 
}

/* tablet y desktop */
/* le da sombra a los articulos cuando se expande */
@media (min-width: 362px) {
  .product-container {
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    background-color: white;
  }

  /* desaparece burger para tablet y desktop */
  .burger-menu {
    display: none;
  }

}

/* tablet only */


@media only screen and (min-width:361px) and (max-width:769px) {

  .main-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .cuotas {
    width: 33%;
    margin: 0;
    overflow: hidden;
  }

  .imagenprincipal {
    width: 30%;
  }

  .barrabuscar {
    margin: 0px;
  }

  .product-container {
    width: 48%;
  }

  .login-password{
    width: 60%;
  }
}

/* desktop */
@media (min-width:770px) {
  .main-article {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .imagenprincipal {
    width: 50%;
    height: 80px;
  }

  .img-searchbar-cuotas {
    flex-wrap: nowrap;
  }
  
  .each-container{
  display: flex;
  justify-content: space-around;
  }
  .main-footer{
    align-items: flex-start;
    
  }
  .login-password{
    width: 60%;
  }
  
}